<div class="contanier">
  <div class="row">
    <div class="col-12 col-sm-6 p-0 m-0 d-none d-sm-block">
      <img src="../assets/image (1).png" class="img-fluid h-100 w-100" alt="" />
    </div>

    <div class="col-12 col-sm-6 position-relative p-0 m-0">
      <div class="position-absolute w-100 top">
        <app-border></app-border>
      </div>

      <div class="text-center">
        <img src="../assets/image.png" alt="" class="mt-5" />
      </div>
      <h3 class="m-5 fw-bold">Register</h3>
      <form [formGroup]="registration" class="m-5" (ngSubmit)="onSubmit()" >
        <div class="d-flex flex-row">
          <!-- First Name -->
          <div class="mb-3 me-3 w-50">
            <label for="firstName" class="form-label" >First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="fname"/>
            <div   *ngIf=" registration.get('fname')?.invalid && registration.get('fname')?.touched"
            >
            <span  class="text-danger"*ngIf="registration.get('fname')?.errors &&    registration.get('fname')?.hasError('required')">*this field is required</span>
            <span  class="text-danger"*ngIf="registration.get('fname')?.hasError('pattern')">* please enter correct name</span>
            <span  class="text-danger"*ngIf="registration.get('fname')?.hasError('minlength')">*minLength</span>
          </div>
        </div>
            <!-- Last Name -->
          <div class="mb-3 w-50">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" required formControlName="lname"/>
            <div   *ngIf=" registration.get('lname')?.invalid && registration.get('lname')?.touched">
            <span  class="text-danger"*ngIf="registration.get('lname')?.errors &&    registration.get('lname')?.hasError('required')">*this field is required</span>
            <span  class="text-danger"*ngIf="registration.get('lname')?.hasError('pattern')">* please enter correct name</span>
            <span  class="text-danger"*ngIf="registration.get('lname')?.hasError('minlength')">* minLength</span>
          </div>
          </div>
        </div>
         <!-- Email -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"/>
          <div *ngIf=" registration.get('email')?.invalid && registration.get('email')?.touched">
            <span  class="text-danger"*ngIf="registration.get('email')?.errors &&    registration.get('email')?.hasError('required')">*this field is required</span>
            <span  class="text-danger"*ngIf="registration.get('email')?.hasError('email')">* please use @ in your email</span>
          </div>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" name="password"/>
          <div   *ngIf=" registration.get('password')?.invalid && registration.get('password')?.touched">
            <span  class="text-danger"*ngIf="registration.get('password')?.errors &&    registration.get('password')?.hasError('required')">*this field is required</span>
            <span  class="text-danger"*ngIf="registration.get('password')?.hasError('minLength')">*password must be atleast 8 character</span>
          </div>
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" formControlName="repass" name="repass"/>
          <div   *ngIf=" registration.get('repass')?.invalid && registration.get('repass')?.touched">
            <span  class="text-danger"*ngIf="registration.get('repass')?.errors &&    registration.get('repass')?.hasError('required')">*this field is required</span>
            <span  class="text-danger"*ngIf="registration.get('repass')?.hasError('mustMatch')">*password didn't match</span>
          </div>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
          <label class="form-check-label" for="flexSwitchCheckChecked">I accept the <span class="text-primary">Terms of
              Service</span> as
            well as <span class="text-primary">privacy policy</span>
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>

      <p class="text-center text-muted border-top pt-5 m-5">
        Already have an account?
        <span class="text-primary fw-bold"> Login Now</span>
      </p>

      <div class="container mb-5">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Features</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Pricing</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">About</a>
            </li>
          </ul>
          <p class="text-center text-muted">© 2021 Company, Inc</p>
        </footer>
      </div>
      <div class="position-absolute fixed-bottom">
        <app-border></app-border>
        
      </div>
    </div>
  </div>
</div>